name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: "yarn"
      - name: Install xvfb
        run: sudo apt-get update && sudo apt-get install -y xvfb
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run tests
        run: xvfb-run -a yarn test
